.container{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    box-sizing: border-box;

}

.grid{
    display: flex;
    flex-wrap: wrap;

    width: 600px;
    height: 500px;

    overflow: hidden;
}

