.container{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    /* box-sizing: border-box; */

}

.grid{
    display: flex;
    flex-wrap: wrap;

    height: 500px;
    overflow: hidden;

    background-color: gainsboro;
}

.hover{
    background-color: black;
}